body {
     background: #1f232a; 
    font-family: "Proxima Nova", sans-serif;
    color: #8b949a; 
    letter-spacing: 0.05em;
    
    background-image: url(images/purplewp.jpg);
    background-position:  center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
a{
    color:whitesmoke;
  
    
    border: 3px solid white;
    padding: 5px;

}
a:link {
    text-decoration: none;
  }
a:hover {
    color: hotpink;
    text-decoration: underline;
  }
h1{
    background-color: white;
    background-size: 0;
  }